	<form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="active" novalidate>
		<!-- ng model group is used to style the border around fieldset-->
		<div *ngFor="let q of questions; let index = index">
			<fieldset  >

				<legend>
					{{q.content}}
				</legend>

				<input type="number" [(ngModel)]="q.value" name="{{index}}" min="{{min}}" max="{{max}}">

			</fieldset>

			<app-line-break [index]="index" [length]="questions.length"	></app-line-break>

		</div >

		<div class="submit-buttons">
			<button class="btn">Submit</button>
			<button class="btn" (click)="reset()">Reset	</button>
		</div>

	</form>