	<h2>Questions</h2>
	<form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="active" novalidate>

		<div *ngFor="let q of questions; let index = index" >
			<section  class="question">
				<p>{{q.content}}</p>
				<span>
				<input type="number" id="{{q.value}}" [(ngModel)]="q.value" name="{{index}}" min="{{min}}" max="{{max}}">

				</span>
			</section>

			<app-line-break [index]="index" [length]="questions.length"	></app-line-break>

		</div >

		<div class="submit-buttons">
			<button class="btn">Submit</button>
			<button class="btn" (click)="reset()">Reset	</button>
		</div>

	</form>