	<h2>Questions</h2>
	<form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="active" novalidate>
		
		<div *ngFor="let q of questions; let index = index">
			<section class="question" >

				<p>
					{{q.content}}
				</p>

				<section class="radio-buttons">
					<div class="radio-wrapper" *ngFor="let opts of optionsForRadio.options">
						<input type="radio"  [(ngModel)]="q.value" [name]="q.content"  id="{{q.content + opts.machine}}" [value]="opts.machine" required>
						<label [attr.for]="q.content + opts.machine" >{{opts.human}}</label>

					</div>
				</section>
			</section>

			<app-line-break [index]="index" [length]="questions.length"	></app-line-break>


		</div >

		<div class="submit-buttons">
			<button class="btn" [disabled]="!f.control.valid || !f.dirty">Submit</button>
			<button class="btn" (click)="reset()">Reset	</button>
		</div>
	</form>