	<h2>Questions</h2>
	<form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="active" novalidate>
		<!-- ng model group is used to style the border around fieldset-->
		<div *ngFor="let q of questions; let index = index">
			<fieldset  >

				<legend>
					{{q.content}}
				</legend>

				<input type="radio" *ngFor="let i of optionsForRadio" [(ngModel)]="q.value" [name]="q.content" [value]="i" required>

			</fieldset>

			<app-line-break [index]="index" [length]="questions.length"	></app-line-break>


		</div >

		<div class="submit-buttons">
			<button class="btn" [disabled]="!f.control.valid || f.untouched">Submit</button>
			<button class="btn" (click)="reset()">Reset	</button>
		</div>

	</form>