

<main>
  <figure>
    <img src="../../assets/ppk.jpg" alt="Pawel Paul Kula" class="img-responsive">
  </figure>

  <section>
    <!-- email -->
    <app-slider [open]="form.openOrClose">
        <div class="header">
          Email
        </div>
        <div class="content">
          <i class="material-icons icon-button">mail</i>
        </div>
    </app-slider>

    <!-- adress and phone-->
    <app-slider *ngFor="let item of sliderItems" [open]="item.openOrClose">
      <div class="header">
        {{item.title}}
      </div>
      <div class="content">
        <p *ngFor="let line of item.content">
          {{line}}
        </p>
      </div>
    </app-slider>

    <!-- social media -->
    <app-slider [open]="form.openOrClose">
        <div class="header">
          Social Media
        </div>
        <div class="content">
          <i class="material-icons icon-button">mail</i>
          <i class="material-icons icon-button">home</i>
          <i class="material-icons icon-button">person</i>
        </div>
    </app-slider>


  </section>


</main>