@import '../../../global';



:host {
  display: flex;
  font-size: 1.2em;
  margin: 0 2em;
}


section {
  margin-right: 2em;
}

figure {
  margin: 0;
}

h2 {
  margin: 0 0 0.5em 0;
}

@media screen and  (max-width: 1000px) {
  :host {
    flex-direction: column;

    figure {
      margin-top: 2em;
      order: 1;
    }

    section {
      margin: 0;
    }
  }
}

@media screen and (max-width: 640px) {
  :host, section {
    padding: 2em;
  }

  figure {
    text-align: center;
  }

  section {
    margin: 0;
    padding-top: 0;
  }

}
