@import '../../../../global';

$slider-height: 3em;

section {
  position: relative;
  background: linear-gradient(to right, #ffffff 0%, $primary-color 51%, darken($primary-color, 20%) 100%);
  margin: ($slider-height / 2 + 2em) 0;
  height: $slider-height;
}

.line {
  position: absolute;
  top: -50%;
  height: $slider-height * 2;
  border-left: 2px solid lightcoral;
}

