<form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="active" novalidate>
	<fieldset *ngFor="let pair of questionPairs; let i = index;">
		<legend>{{ 'Q' + (i + 1) }}</legend>
		<div *ngFor="let question of pair">
			<input type="radio" name="{{'Q' + i}}" [value]="question.value" (ngModel)="question.value" required>
			<span>{{ question.content }}</span>
		</div>
	</fieldset>

	<div class="submit-buttons">
		<button class="btn" [disabled]="!f.control.valid || f.untouched">Submit</button>
		<button class="btn" (click)="reset()">Reset	</button>
	</div>

</form>