<div class="site">
  <header>
    <span class="logo" routerLink="/welcome">Pawel Paul Kula</span>
    <span class="remaining-space"></span>
    <i class="material-icons" (click)="open = !open">reorder</i>
 </header>

 <nav [@openClose]="open ? 'open' : 'close'">
   <a routerLink="/career">Career</a>
   <a>Gallery</a>
   <a>Contact</a>
   <a>Blog</a>
   <a>Homeland</a>
 </nav>

  <main class="site-content">
    <router-outlet></router-outlet>
  </main>

  <footer>
    <a>Fb</a>
    <a>Twitter</a>
    <a>Ln</a>
  </footer>

</div>

