@import '../global';

.body {
    background: $main-background-color;

}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

header, footer {
    background: $primary-color;
    color: white;
}

header {
  height: 4em;
}

footer, nav, header {
  a {
    cursor: pointer;
  }
}

// main 
main {
  align-self: center;
  max-width: 60em;
  min-width: 90%;
  padding: 2em;
}

@media screen and (min-width: 600px) {
  main {
      min-width: 60%;
  }
}


// header
header {
  display: flex;
  padding: 0 2em;

  .logo, i {
    font-size: 1.6em;
    text-align: center;
    cursor: pointer;
    align-self: center;
  }

  .remaining-space {
    flex: 3 1 auto;
  }

  .icons {
    text-align: center;
    flex: 1;
    align-self: inherit;
    display: flex;
    justify-content: space-around;
  }

}

// nav
nav {
  background: white;
  color: $nav-color;
  display: flex;
  justify-content: space-around;
  text-decoration: none;

  a:-webkit-any-link {
    text-decoration: none;
  }

  a {
    text-align: center;
    box-sizing: border-box;
    padding: 1em;
    height: 3em;
    flex: 1 0 auto;
    border-bottom: 1px solid $primary-color;
    &:hover {
        border-bottom: 3px solid $primary-color;
        background: lighten($primary-color, 50%);
    }
    &:visited {
      color: $nav-color;
    }
  }

  .nav-active {
    border-left: 0px;
    border-bottom: 3px solid $primary-color;
    background: lighten($primary-color, 50%);
  }

}


@media screen and (max-width: 438px) {
  .nav-active {
    border-left: 3px solid $primary-color;
    background: lighten($primary-color, 50%);
  }

}


@media screen and (max-width: 400px) {
  nav {
    flex-direction: column;
  }
}

// footer
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}


.media {
  display: flex;
  align-items: flex-start;
}

.media-figure {
  margin-right: 1em;
}

.media-body {
  flex: 1;
}
