<div class="site">
  <header>
    <span class="logo" routerLink="/welcome">Pawel Paul Kula</span>
    <span class="remaining-space"></span>
    <span  class="icons">
      <i class="material-icons">face</i>
      <i class="material-icons">home</i>
      <i class="material-icons">extension</i>
    </span>
 </header>

 <nav >
   <a routerLinkActive="nav-active" routerLink="/welcome">Welcome</a>
   <a routerLinkActive="nav-active" routerLink="/career">Career</a>
   <a routerLinkActive="nav-active" routerLink="/contact">Contact</a>
   <a routerLinkActive="nav-active" routerLink="/authorities">Authorities</a>
   <a routerLinkActive="nav-active" routerLink="/articles">Articles</a>
 </nav>

  <main class="site-content">
    <router-outlet></router-outlet>
  </main>

  <footer>
    <figure class="media">
      <a href="https://github.com/zetsnotdead">
          <img class="media-figure" src="../assets/gh_32px.png" alt="git hub icon">
      </a>
      <p class="media-body">Created by Tomasz Kula</p>
    </figure> 
  </footer>

</div>

