<main class="card">
	<header>Welcome to pawelpaulkula.eu</header>
	<figure>
		<img src="../../assets/ppk2.jpg" class="img-responsive" alt="Pawel Paul Kula">
	</figure>
	<section>
    <p>{{welcomeMsg}}</p>
		<div class="social-media">
			<i class="material-icons">home</i>
			<i class="material-icons">home</i>
			<i class="material-icons">home</i>
		</div>
  </section>
</main>

<div class="tabs-wrapper">
	<section *ngFor="let tab of tabs" class="card">
		<h1>{{tab.title}}</h1>
		<i class="material-icons">{{tab.icon}}</i>
		<p>{{tab.content}}</p>
		<button class="btn">Visit</button>
	</section>
</div>