<main class="card">
	<header>Welcome to pawelpaulkula.eu</header>
	<figure>
		<img src="../../assets/ppk2.jpg" class="img-responsive img-shadow" alt="Pawel Paul Kula">
	</figure>
	<section>
    <p>{{welcomeMsg}}</p>
		<!--<div class="social-media">
			<i class="material-icons">home</i>
			<i class="material-icons">home</i>
			<i class="material-icons">home</i>
		</div>-->
  </section>
</main>

<div class="tabs-wrapper">
	         <i class="fa fa-facebook" aria-hidden="true"></i>

	<section *ngFor="let tab of tabs" class="card">
		<h1>{{tab.title}}</h1>
		<a routerLink="{{tab.url}}">
			<i class="material-icons icon-button-lg">{{tab.icon}}</i>
		</a >
		<p>{{tab.content}}</p>
		<a class="btn" routerLink="{{tab.url}}">Visit</a>
	</section>
</div>