<main class="card">
	<header>Welcome to pawelpaulkula.eu</header>
	<section>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. To contact me choose one of the following options...</p>
    <i class="material-icons">home</i>
    <i class="material-icons">home</i>
    <i class="material-icons">home</i>
  </section>
</main>

<div class="tabs-wrapper">
	<section *ngFor="let i of [1,2,3]" class="card">
		<h1>My homeland</h1>
		<i class="material-icons">home</i>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel obcaecati quos corrupti rem inventore similique aliquid quisquam
			ut quis nemo.</p>
		<button>My Homeland</button>
	</section>
</div>