@import '../../global';

:host {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  min-height: 40vh;

  header {
    padding: 1em;
    background: $primary-color;
    font-size: $basic-font-size;
    color: white;
  }

  section {
    padding: 1em;
    text-align: center;
  }

  figure {
    display: flex;
    justify-content: center;
  }
}

.tabs-wrapper {
  display: flex;
  justify-content: space-between;

  section {
    padding: 1em;
    margin-top: 2em;
    flex-basis: 20em;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

}


.icon-button {
  cursor: pointer;
  padding: 0.4em;
  font-size: 2em;
  color: white;
  background: $accent-color;
  border-radius: 50%;
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.4);
}


.social-media {
  display: flex;
  justify-content: space-around;

  i {
    cursor: pointer;
    padding: 1em;
    font-size: 2em;
  }
}

@media screen and (max-width: 720px) {
  .tabs-wrapper {
    flex-direction: column;
  }
}