@import '../../global';

:host {
  display: flex;
  flex-direction: column;
  padding: 2em;
  max-width: 80em;
}

main {
  flex: 1 0 auto;
  min-height: 40vh;

  header {
    padding: 1em;
    background: $primary-color;
    font-size: $basic-font-size;
    color: white;
  }

  section {
    padding: 1em;
    text-align: center;
  }

  figure {
    display: flex;
    justify-content: center;
  }
}

.tabs-wrapper {
  display: flex;
  justify-content: space-between;

  section {
    padding: 1em;
    margin-top: 2em;
    flex-basis: 20em;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  button {
    border: none;
    border-radius: 2em;
  }

}

.social-media {
  display: flex;
  justify-content: space-around;

  i {
    cursor: pointer;
    padding: 1em;
    font-size: 2em;
  }
}

@media screen and (max-width: 720px) {
  .tabs-wrapper {
    flex-direction: column;
  }
}