@import '../../global';

:host {
  display: flex;
  flex-direction: row;
  padding: 3em 2em 2em 2em;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

button {
  flex: 1 4em;
}

.fill-the-rest {
  flex: 1 0 100%;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 0 9em;

  a {
  color: $primary-color;
  size: 1.2em;
  flex: 1 0 4em;

    &:hover {
      color: lighten($primary-color, 50%);
    }
    &:visited {
      color: $nav-color;
    }
  }

}

@media screen and (max-width: 640px) {
  .fill-the-rest {
    display: none;
  }

  nav {
    flex: 1;
    text-align: center;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  :host {
    flex-wrap: wrap;
  }
}
