$primary-color: #3f51b5;
$accent-color: #FF4081;

$invalid-color: #d80d28;

$lighter-primary: lighten($primary-color, 40%);
$darker-primary: darken($primary-color, 5%);
$nav-color: slategray;
$basic-font-size: 1.2em;
$main-background-color: #fafafa;

.btn {
  background: $primary-color;
  padding: 1em 2em;
  color: white;
  letter-spacing: 0.1em;
  font-weight: 700;
  border: none;
  // border-radius: 1em;

  &:active, &:focus {
    outline: 0 none;
  }
    &:active, &:focus, &:active, &:hover{
      background: $darker-primary;
    }

}

@mixin icon-button {
  cursor: pointer;

  color: white;
  background: $accent-color;
  border-radius: 50%;
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.4);
}

.icon-button-lg {
 @include icon-button();
  padding: 0.4em;
  font-size: 2em;
}

.icon-button-sm {
 @include icon-button();
  padding: 0.4em;
  font-size: 1em;
}

.toolbar {
  color: white;
  background-color: $primary-color;
  // border-radius: 0.5em 0.5em 0 0;
  padding: 1em;
}


.submit-buttons {
  margin-top: 2em;
}

.btn-disabled {
  cursor: not-allowed;
  background: silver;
}

a {
  text-decoration: none;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.card { 
  box-shadow: 
    5px 6px 7px 2px rgba(0, 0, 0, 0.1), 
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.shadowed {
  box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.selectable:hover {
  box-shadow:  20px 20px 40px -11px rgba(0, 0, 0, 0.5)
}

button:disabled, button:disabled:hover {
  cursor: not-allowed;
  background-color: silver;
}

fieldset {
  margin: 1em 0;
  border-left: 3px solid $primary-color;
}

fieldset.ng-invalid {
  border-left: 3px solid $invalid-color;
}

.img-shadow {
  box-shadow: 6px 5px 16px 2px rgba(0, 0, 0, 0.2);
}

.question {
  display: flex;
  flex-direction: column;
  background: lighten($primary-color, 50%);
  padding: 1em;
  border-left: 3px solid $primary-color;
  margin-bottom: 1em;
}


// radio button styles

.radio-buttons {
  display: flex;

  label:before {
    border-radius: 8px;
  }
}

input[type=radio] {
  display: none;
}


label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
}

label:before {
  content: "";
  display: inline-block;
 
  width: 16px;
  height: 16px;

  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: lighten($primary-color, 20%);
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}



input[type=radio]:checked + label:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}