$primary-color: #3f51b5;
$accent-color: #FF4081;


$invalid-color: #d80d28;

$lighter-primary: lighten($primary-color, 40%);
$darker-primary: darken($primary-color, 5%);
$nav-color: slategray;
$basic-font-size: 1.2em;
$main-background-color: #fafafa;

.btn {
  background: $primary-color;
  padding: 1em 2em;
  color: white;
  letter-spacing: 0.1em;
  font-weight: 700;
  border: none;
  // border-radius: 1em;

  &:active, &:focus {
    outline: 0 none;
  }
    &:active, &:focus, &:active, &:hover{
      background: $darker-primary;
    }

}

.icon-button {
  cursor: pointer;
  padding: 0.4em;
  font-size: 2em;
  color: white;
  background: $accent-color;
  border-radius: 50%;
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.4);
}

.toolbar {
  color: white;
  background-color: $primary-color;
  // border-radius: 0.5em 0.5em 0 0;
  padding: 1em;
}


.submit-buttons {
  margin-top: 2em;
}

.btn-disabled {
  cursor: not-allowed;
  background: silver;
}

a {
  text-decoration: none;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.card { 
  box-shadow: 
    0px 2px 1px -1px rgba(0, 0, 0, 0.2), 
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

button:disabled, button:disabled:hover {
  cursor: not-allowed;
  background-color: silver;
}

fieldset {
  margin: 1em 0;
  border-left: 3px solid $primary-color;
}

fieldset.ng-invalid {
  border-left: 3px solid $invalid-color;
}

