<main>

	<h2 class="toolbar">Stress</h2>
	<section>

		<!-- refactor to use ngFor later-->
		<article class="card">
			<h1>Burnout</h1>
			<a routerLink="{{'stress/burnout'}}">	
			<i class="material-icons icon-button">home</i>
			</a>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quasi sequi praesentium consequatur vero dolorem, officia tenetur error itaque adipisci.</p>
			<a class="btn" routerLink="{{'stress/burnout'}}">Read more</a>
		</article>

		<article class="card">
			<h1>Mental Toughness</h1>
			<a routerLink="{{'stress/mental-toughness'}}">	
			<i class="material-icons icon-button">home</i>
			</a>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quasi sequi praesentium consequatur vero dolorem, officia tenetur error itaque adipisci.</p>
			<a class="btn" routerLink="{{'stress/mental-toughness'}}">Read more</a>
		</article>

		<article class="card">
			<h1>Sensation Seeking</h1>
			<a routerLink="{{'stress/sensation-seeking'}}">	
			<i class="material-icons icon-button">home</i>
			</a>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quasi sequi praesentium consequatur vero dolorem, officia tenetur error itaque adipisci.</p>
			<a class="btn" routerLink="{{'stress/sensation-seeking'}}">Read more</a>
		</article>

		<article class="card">
			<h1>Personality Types</h1>
			<a routerLink="{{'stress/personality-types'}}">	
			<i class="material-icons icon-button">home</i>
			</a>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quasi sequi praesentium consequatur vero dolorem, officia tenetur error itaque adipisci.</p>
			<a class="btn" routerLink="{{'stress/personality-types'}}">Read more</a>
		</article>

		<article class="card">
			<h1>Stress Scale</h1>
			<a routerLink="{{'stress/stress-scale'}}">	
			<i class="material-icons icon-button">home</i>
			</a>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quasi sequi praesentium consequatur vero dolorem, officia tenetur error itaque adipisci.</p>
			<a class="btn" routerLink="{{'stress/stress-scale'}}">Read more</a>
		</article>

		<article></article>

	</section>

	<!--<h2 class="toolbar">Other Articles</h2>
	<section>
		<article *ngFor="let summary of articlesSummaries | async" class="card">
			<h1>{{summary.name}}</h1>
			<i class="material-icons">{{summary.icon}}</i>
			<p>{{summary.excerpt}}</p>
			<a class="btn" (click)="navigateTo(summary.id)">Read more</a>
		</article>
	</section>-->

</main>


  